body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f9f7fd;
}

h1 {
  color: #2a2438;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0%;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #5c5470;
  font-weight: 100;
  line-height: 20px;
  text-transform: capitalize;
}

hr {
  opacity: 0.1;
}

small {
  color: #5c5470;
}

.button {
  background-color: #5c5470;
  border: transparent;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  background-color: white;
}

.weather-app {
  padding: 20px;
  display: block;
  border: 3px solid #dadde1;
  box-shadow: 5px 5px 15px #5c5470;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #2a2438;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
}

.weather-temperature .units {
  position: relative;
  top: -32px;
  font-size: 16px;
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 14px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
